<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head>
    <title>Home Page</title>
</head>
<body>
<h1>Welcome To My Spring Security</h1>

<p sec:authorize="isAuthenticated()" > Click <a th:href="@{/profile}">here</a> profile.</p>
<p>Click <a th:href="@{/login}">here</a> login.</p>
<p>Click <a th:href="@{/signup}">here</a> signup.</p>

</body>
</html>
